.no-data-found{
    width: 100%;
    text-align: center;
}
.no-data-found .no-data-found__img{
    width: 300px;
}
.no-data-found .no-data-found__title{
    font-size: 24px;
}
.preview_image {
    margin: 0 auto;
    display: block;
}
#btn-avatar {
    width: 100%;
}
